<p-toast></p-toast>
<div class="grid">
	<div class="col-12">
		<div class="card">
            <h3 class="flex w-7 align-items-center gap-2 text-primary">
                <i style="font-size: 2.5rem" class="pi pi-image mr-2"></i>Activity
            </h3>
            <p>Effectively manage your guest data to keep it well-organized and easily accessible.</p>
            <hr>
			<p-table #dt1 [tabIndex]="true" [value]="dataList" dataKey="id" [rows]="10" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name','email','phoneNumber','country.name']" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                  <div class="flex justify-content-between flex-column sm:flex-row">
                    <span class="flex gap-2">
                        <button pButton label="Clear" class="p-button-outlined p-button-primary mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                        <button pButton label="Tambah" class="p-button-primary mb-2" icon="pi pi-plus"  (click)="onDisplayDialog()"></button>
                    </span>
                    <span class="p-input-icon-left mb-2">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th style="min-width: 2rem">
                      <div class="flex justify-content-between align-items-center">
                        No
                      </div>
                    </th>
                    <th style="min-width: 8rem">
                      <div class="flex justify-content-between align-items-center">
                        Image
                        <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by Country"></p-columnFilter>
                      </div>
                    </th>
                    <th style="min-width: 8rem">
                        <div class="flex justify-content-between align-items-center">
                          Title
                        </div>
                      </th>
                      <th style="min-width: 16rem">
                        <div class="flex justify-content-between align-items-center">
                           Description
                        </div>
                      </th>
                    <th style="min-width: 12rem">
                      <div class="flex justify-content-between align-items-center">
                        Action
                      </div>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                  <tr>
                    <td class="text-center">
                      {{ rowIndex + 1 }}
                    </td>
                    <td>
                        <img [src]="'http://localhost:3200/assets/activity/' + customer?.image" class="w-10rem">
                      </td>
                    <td>
                      {{ customer.title }}
                    </td>
                    <td>
                     {{customer.description}}
                    </td>
                    <td>
                      <span class="flex gap-2 w-full justify-content-center align-items-center">
                        <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" (click)="editGuest(customer.id)" />
                        <p-button icon="pi pi-eye" [rounded]="true" [text]="true" severity="secondary" (click)="viewGuest(customer.id)" />
                        <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" />
                      </span>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="8">No customers found.</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                  <tr>
                    <td colspan="8">Loading customers data. Please wait.</td>
                  </tr>
                </ng-template>
              </p-table>

		</div>
	</div>
</div>

<p-dialog header="{{ isEditMode ? 'Edit data Photo: ' + guestName : 'Add Photo' }}" [(visible)]="displayDialog" [modal]="true" [closable]="true" [style]="{ 'min-width': '300px', 'max-width': '80vw', 'width': '80%' }">
    <form [formGroup]="galleryForm" (ngSubmit)="addGuest()">
        <div class="flex flex-column gap-2">
            <label for="guestId">Guest ID:</label>
            <p-dropdown id="guestId"
                formControlName="guestId"
                [options]="dataGuests"
                optionLabel="label"
                optionValue="value"
                appendTo="body"
                [filter]="true"
                placeholder="Select Country"
                styleClass="w-full"
                required>
                <ng-template pTemplate="selectedItem" let-selectedItem>
                    <div *ngIf="selectedItem" class="flex align-items-center">
                      <img [src]="selectedItem.flag" alt="Country Flag" class="country-flag mr-2">
                      <span>{{ selectedItem.label }}</span>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="item" let-item>
                    <div class="flex align-items-center">
                      <img [src]="item.flag" alt="Country Flag" class="country-flag mr-2">
                      <span>{{ item.label }}</span>
                    </div>
                  </ng-template>
            </p-dropdown>
            <div *ngIf="galleryForm.get('guestId').invalid && galleryForm.get('guestId').touched">
              Guest ID is required.
            </div>
          </div>

      <div class="flex flex-column gap-2">
        <label for="title">Title:</label>
        <input id="title" pInputText  formControlName="title" placeholder="e.g Beutiful Photoes" required>
        <div *ngIf="galleryForm.get('title').invalid && galleryForm.get('title').touched">
          Title is required.
        </div>
      </div>
      <div class="flex flex-column gap-2">
        <label for="date">Start Date:</label>
        <p-calendar id="date" styleClass="w-full gap-2" formControlName="date" [showIcon]="true" dateFormat="dd/mm/yy" required></p-calendar>
        <div *ngIf="galleryForm.get('date').invalid && galleryForm.get('date').touched">
          Start Date is required.
        </div>
      </div>
      <div  class="flex flex-column gap-2 mt-3">
        <label for="title">Write your story</label>
        <p-editor formControlName="description" [style]="{ height: '320px' }" />
        <div *ngIf="galleryForm.get('description').invalid && galleryForm.get('description').touched">
          Title is required.
        </div>
      </div>
      <div class="flex flex-column gap-2">
        <label for="activityimg">Image:</label>
        <input type="file" name="activityimg"  formControlName="activityimg" id="activityimg" (change)="onFileSelected($event)" accept="image/*">
      </div>
      <div class="p-dialog-footer">
        <button pButton type="button" class="p-button-danger p-button-outlined" label="Cancel" icon="pi pi-times" (click)="onDisplayDialog()"></button>
        <button pButton type="submit" label="{{ isEditMode ? 'Update': 'Save' }}" icon="pi pi-save" [disabled]="galleryForm.invalid"></button>
      </div>
    </form>
  </p-dialog>

  <!-- View Dialog -->
<!-- <p-dialog header="Detail data : {{ currentGuest?.name }}" [(visible)]="viewDialog" [modal]="true" [closable]="true" [style]="{ 'min-width': '300px', 'max-width': '80vw', 'width': '40%' }">
    <div *ngIf="currentGuest" class="flex gap-2">
        <div>
            <img [src]="'http://localhost:3200/assets/room/' + currentGuest?.image" class="w-10rem text-center" alt="Guest Image">
        </div>

        <table class="guest-details">
            <tr>
              <td><strong>Room Name</strong></td>
              <td>{{ currentGuest?.name }}</td>
            </tr>
            <tr>
              <td><strong>Price</strong></td>
              <td> {{formatNumber(currentGuest?.price)}}</td>
            </tr>
            <tr>
              <td><strong>Capacity</strong></td>
              <td>{{ currentGuest?.capacity }}</td>
            </tr>
            <tr>
                <td><strong>Description</strong></td>
                <td>{{ currentGuest?.description }}</td>
              </tr>
          </table>
    </div>
  </p-dialog> -->